body{
    background-image: linear-gradient(to right, blue, white);
}

h1{
margin-left: 550px;
color: white;
text-shadow: 2px 2px 1px black;
}

#conteiner{
    margin: auto;
    margin-top: 50px;
    display: flex;
    width: 255px;
    background-color: rgb(15, 15, 218);
    height: 440px;
    flex-direction: column;
    }

#tela{
    width: 247px;
    height: 30px;
    font-size: 25px;
    text-align: right;
}

.colunas{
    display: flex;
    height: 100px;
    width: 300px;
    text-align: center;
    
}

.tecla{
    border: 1px solid black;
    margin: 1px;
    height: 60px;
    width: 60px;
    padding-top: 40px;
    color: white;
    border-radius: 10px;
}
.tecla:hover{
    background-color: black;
    cursor: pointer;
}